.message {
    background: var(--info-color);
    color: #ffffff;
    border-radius: var(--base-radius);
    display: block;
    padding: 0.5rem 1rem;

    > p {
        color: inherit;
        display: inline-block;
        margin: 1em 0;
    }
}