.item {
    @apply flex flex-row gap-x-2;
    @apply p-2.5;
    @apply transition-colors duration-200 ease-in-out hover:!bg-button hover:text-white;

    > .range {
        @apply w-3/12;
    }

    > .percent {
        @apply w-2/12;
        @apply text-center;
    }

    > .dots {
        @apply flex-1;

        &::before {
            content: '   ';
            background-image: radial-gradient(circle, #000 1px, transparent 1px);
            background-size: 20px 20px;
            @apply w-2 h-2;
            @apply bg-background;
            @apply rounded-full;
        }
    }

    > .dots {

    }
}