@import '_variables.css';
@import '_layout.css';

body {
    --title-color: var(--arc-palette-title, #000);

    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin:0;
    padding-right: 2rem;
    display: block;
    height: 100vh;
    background: var(--background-bg);
}



h1 {
    color: var(--title-color);
    font-size: 2rem;
    margin: 0;
    padding: 0;
}